*{
  box-sizing: border-box;
}

html,
body{
  height: 100%;
  width: 100%;
  overflow: auto;
  display:flex;
  flex-direction: column;
}

body{
  margin:0px;
  padding:20px 20px 40px 20px;
  font-family:arial;
  background-color:#EEEEEE;
}

h1{
  display: inline;
  font-size: 16px;
}

#container{
  margin: auto;
  width: 100%;
  max-width: 1030px;
  padding: 15px;
  background-color: silver;
  box-shadow: 4px 4px 8px #777;
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  body{
    padding: 0;
  }
}

#header-container{
  margin-bottom:10px;
}

#select_width,
#select_color,
#select_drawmode{
  margin-right:15px;
}

#canvas-container {
  border:1px solid silver;
  background-color:white;
  flex: 1;
  box-shadow: 4px 4px 8px #888;
}

#theCanvas{
  cursor:default;
}