*{
  box-sizing: border-box;
}

body{
  margin:0px;
  padding:20px;
  font-family:arial;
  background-color:#EEEEEE;
}

h1{
  display: inline;
  font-size: 16px;
}

#container{
  margin: auto;
  width: 1030px;
  padding: 15px;
  background-color: silver;
  box-shadow: 4px 4px 8px #777;
}

#header-container{
  margin-bottom:10px;
}

#select_width,
#select_color,
#select_drawmode{
  margin-right:15px;
}

#canvas-container {
  border:1px solid silver;
  background-color:white;
  width: 1000px;
  height: 500px;
  box-shadow: 4px 4px 8px #888;
}

#theCanvas{
  cursor:default;
}